::-webkit-scrollbar{
    width: 7px;
    background-color: var(--footer-color);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
    border-radius: 7px;
}

.user-layout{
    user-select: none;
    background-color: var(--main-bg);
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.user-homepage{
    width: 100%;
    height: 100vh;
    background: url("../images/pexels-karolina-grabowska-4021775.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(209, 209, 209, 0.7);
    border-radius: var(--border-r);
    padding: 10px;
    border: 2px solid rgba(209, 209, 209, 0.7);
    backdrop-filter: blur(10px);
    box-shadow: -2px 4px 10px 0 black;
}

.welcome-text .slog {
    color: var(--main-color);
    font-weight: bold;
    letter-spacing: 2px;
}
